<a href="https://colab.research.google.com/github/inderpreetsingh01/PyMath/blob/main/Python4DA_Ch7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# dropna() -> return new objects by default and do not modify the contents of the original object.
# If you want to create a transformed version of a dataset without modifying the original, a useful method is rename:

In [ ]:
# By default, pandas.merge does an "inner" join; the keys in the result are the intersection, or the common set found in both tables.
# Other possible options are "left", "right", and "outer". The outer join takes the union of the keys, combining the effect of applying both left and right joins:

In [ ]:
# Many-to-many merges form the Cartesian product of the matching keys.

In [ ]:
# To merge with multiple keys, pass a list of column names:
# When you're joining columns on columns, the indexes on the passed DataFrame objects are discarded.
# If you need to preserve the index values, you can use reset_index to append the index to the columns.

In [ ]:
# DataFrame has a join instance method to simplify merging by index.
# It can also be used to combine many DataFrame objects having the same or similar indexes but nonoverlapping columns.
# Compared with pandas.merge, DataFrameâ€™s join method performs a left join on the join keys by default.
# It also supports joining the index of the passed DataFrame on one of the columns of the calling DataFrame:
# You can think of this method as joining data "into" the object whose join method was called.

In [ ]:
# By default, pandas.concat works along axis="index", producing another Series. If you pass axis="columns", the result will instead be a DataFrame:
# In this case there is no overlap on the other axis, which as you can see is the union (the "outer" join) of the indexes.
# You can instead intersect them by passing join="inner"

In [ ]:
# A potential issue is that the concatenated pieces are not identifiable in the result.
# Suppose instead you wanted to create a hierarchical index on the concatenation axis. To do this, use the keys argument:
# result = pd.concat([s1, s1, s3], keys=["one", "two", "three"])

In [ ]:
# By default, the innermost level is unstacked (same with stack). You can unstack a different level by passing a level number or name:
# When you unstack in a DataFrame, the level unstacked becomes the lowest level in the result:

In [ ]:
# it is necessary to pass numeric_only=True because the key1 column is not numeric and thus cannot be aggregated with mean().

In [ ]:
# A group function similar in spirit to size is count, which computes the number of nonnull values in each group:

In [ ]:
# The T here stands for minutes.
# Note that the freq parameter here indicates the offset to apply to the timestamps, but it does not change the underlying frequency of the data, if any.